@import "tailwindcss";

@theme {
    --color-primary: #0139CC;
    --color-secondary: #2A76D8;
    --color-accent: #FDEC00;
    --color-highlight: #CAFF00;

    --font-sans: 'Plus Jakarta Sans', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-heading: 'Montserrat', ui-sans-serif, system-ui, sans-serif;
}

[x-cloak] {
    display: none;
}
